.LargePosting .carousel div {
    display: inline-block;
    width: 100%;
    height: 500px;
    text-align: center;
    outline: none;
    overflow: hidden;
}

.LargePosting .carousel div img {
    width: 100%;
}

.LargePosting .content-container {
    width: 60%;
    margin: 80px auto;
}

.LargePosting .content-container .description {
    line-height: 28px;
}

.LargePosting .content-container .price {
    text-decoration: underline;
}

.LargePosting .booking-form-container {
    margin-top: 80px;
    margin-bottom: 60px;
}